<div class='suggested-albums'>
    <div class='suggested-albums__header'>Suggested Albums</div>
    <div class='suggested-albums__container'>
        {{#each albums}}
            {{{ this }}}
        {{/each}}
    </div>
</div>
