.alert {
  position: absolute;
  margin: 0 auto;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  color: var(--main-font-color);
  padding: 10px;
  border-radius: 50px;
  background-color: var(--alert-bg-color);
  width: 195px;
  text-align: center;
}
