:root {
  --buttonBorderRadius: 20px;
  --secondaryButtonBackgroundColor: #383838;
  --buttonFontWeight: 400;
  --font: 'Montserrat';
  --secondaryButtonFontWeight: 400;
  --gray: #383838;
}

.button {
  display: flex;
  margin: auto;
  width: fit-content;
  font-weight: var(--buttonFontWeight);
  border: 0;
  border-radius: var(--buttonBorderRadius);

  &__color {
    &__gray {
      background-color: var(--gray);
    }
  }

  &__secondary {
    background-color: var(--secondaryButtonBackgroundColor);
    width: auto;
    height: 10%;
    border-radius: var(--buttonBorderRadius);
    display: flex;
    cursor: pointer;
    border: 0;
    color: white;
    font-family: var(--font);
    font-weight: var(--secondaryButtonFontWeight);
  }
}
